@model EF_Core_MVC_1_Account.Entities.Account

@{
    ViewData["Title"] = "Account Details";
}

<h1>Account Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountType)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Model.Balance.ToString("C")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brach)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Model.CreateDate.ToString("yyyy-MM-dd")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
